body {
  font: 14px "Century Gothic", Futura, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #272727;
  color: rgb(207, 207, 207);
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  background-color: #383838; /* Green */
  border: none;
  color: rgb(207, 207, 207);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}

.square {
  background-color: #272727;
  border: 1px solid #999;
  float: left;
  color: rgb(207, 207, 207);
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}
.squareWinner {
  background: #3cd167;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  color: rgb(117, 117, 117);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 4rem;
}

.list__none {
  list-style-type: none;
}
